body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Светло-серый фон */
    color: #343a40; /* Темно-серый текст */
    margin: 0;
    overflow-x: hidden; /* Скрываем горизонтальную прокрутку */
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
}

.user-nav {
    display: flex;
    align-items: center;
    margin: 15px;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.company-info {
    display: flex;
    align-items: center;
}

.company-info p {
    margin: 0;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

/* Боковая панель */
.sidebar {
    width: 250px;
    background-color: #fff;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #eee;
}

.sidebar-header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #343a40;
}

.sidebar-header button {
    background: none;
    border: none;
    cursor: pointer;
}

.sidebar-header svg {
    width: 20px;
    height: 20px;
}

.sidebar-nav ul {
    padding: 0;
    margin: 20px 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

.sidebar-nav li:last-child {
    border-bottom: none;
}

.sidebar-nav a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar-nav a:hover {
    color: #3498db;
}

.main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    padding: 20px;
    margin-left: 250px;
}

.overview-header,
.tasks-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.overview-header h2,
.tasks-header h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #343a40;
}

.quick-actions-section {
    margin-top: 40px;
}

.action-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px; /* Уменьшение размера */
    background-color: #76818d; /* Зеленый цвет фона */
    border: none;
    border-radius: 4px;
    text-align: center;
    color: #fff; /* Белый цвет текста */
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer; /* Курсор в виде руки */
    font-size: 14px; /* Уменьшенный размер шрифта */
    margin: 5px; /* Небольшой отступ между кнопками */
  }
  
  .action-button:hover {
    background-color: #494d4a; /* Темно-зеленый цвет при наведении */
    transform: scale(1.05); /* Легкое увеличение при наведении */
  }
  
  .action-button:active {
    background-color: #1e7e34; /* Более темный зеленый цвет при нажатии */
    transform: scale(1); /* Возвращение к исходному размеру при нажатии */
  }
  
  /* Дополнительные стили для кнопок различных действий */
  .details-button {
    background-color: #17a2b8 !important; /* Голубой цвет для кнопки "Подробнее" */
  }
  
  .details-button:hover {
    background-color: #138496;
  }
  
  .edit-button {
    background-color: #ffc107; /* Желтый цвет для кнопки "Редактировать" */
    color: #343a40; /* Темный цвет текста для контраста */
  }
  
  .edit-button:hover {
    background-color: #e0a800;
  }
  
  .delete-button {
    background-color: #dc3545; /* Красный цвет для кнопки "Удалить" */
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  

.action-button i {
    font-size: 20px;
    margin-bottom: 8px;
}

.chart-legend {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.chart-legend li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.color-dot.yellow {
    background-color: yellow;
}

.color-dot.green {
    background-color: green;
}

.color-dot.red {
    background-color: red;
}

.color-dot.blue {
    background-color: blue;
}

.calendar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f8f9fa;
}

.calendar-item.red {
    background-color: #f8d7da; /*  Красный  цвет  */
}

.calendar-item.green {
    background-color: #d4edda; /*  Зеленый  цвет  */
}

.calendar-item span.date {
    font-size: 12px;
    color: #555;
}